.new-number {
  font-size: 42px;
}

.action-wrapper {
  margin-top: 20px;
  text-align: center;

  .left-spacing {
    margin-left: 5px;
  }

  .right-spacing {
    margin-right: 5px;
  }
}

.alert {
  .heading {
    font-size: 30px;
  }
}
