<!-- The Modal -->
<div class="modal fade show" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{header}}</h4>
        <button type="button" class="close" (click)="close()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade show"></div>
